@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #2e2e2e;
}

.area {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
  width: 700px;
  height: 250px;
  font-family: inherit;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #2c2c2c;
  resize: none;
}

.keyboard {
  margin-bottom: 30px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  background-color: #dedede;
  gap: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.key {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2e2e2e;
  background-color: #fefefe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;

  &--dark {
    color: #fefefe;
    background-color: #2e2e2e;
  }

  &--wide {
    width: 85px;
  }

  &--long {
    width: 313px;
  }

  &:hover {
    color: #2e2e2e;
    background-color: #70ece6;
  }

  &:active {
    background-color: #1fc0b8;
    transform: scale(0.9);
  }
}

.text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}