{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 120 }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "no-param-reassign": 0,
    "object-curly-newline": 0,
    "no-restricted-syntax": 0,
    "operator-linebreak": ["error", "after"],
    "import/no-cycle": [0, {
      "ignoreExternal": true
    }],
    "class-methods-use-this": 0,
    "arrow-body-style": ["error", "as-needed"]
  }
}